:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--c-1-100);
  background-color: var(--c-2-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  margin: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--c-2-100);
    background-color: var(--c-1-100);
  }
}
